
img {
  width: 100%;
  z-index: 1;
  object-fit: contain;
  
}

h1 {
  color: #fff;
  z-index: 1;
  position: absolute;
  
}

.overlay {
  position: absolute;
  width: 100%;
}

.footer{
  bottom: 0;
  margin-bottom: -10px;
}







